#time-series{
  .line{
    fill: none;
    stroke: $blue;
    stroke-width: 3;
  }

  .yAxisLabel{
    text-anchor: middle;
    font-size: 12px;
    font-family: "IBM Plex Sans";
  }

  rect.overlay{
    fill: none;
    pointer-events: all;
    cursor: pointer;
  }

  circle{
    fill: $blue;
  }

  circle, .tooltip{
    transition: 0.05s all;
  }
}

.tooltip{
  // background:#fff;
  div{
    padding: 10px;
    font-size: 14px;
    p{
      line-height: 0.85rem;
    }
  }
}

#map{
  .path{
    fill: $gray;
    transition: 0.2s all;

    &, circle{
      stroke: white;
    }
  }

  input[type = "radio"]{
    margin-right: 6px;
    vertical-align: middle;
  }

  #scale{
    height: 20px;
    background: linear-gradient(to right, $gray, $blue);
    position: relative;

    .text{
      position: absolute;
      width: 100%;
      top: 25px;
      font-size: 12px;

      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }

}
