@import "theme";
@import "graphs";

#wrapper{
  padding: 4em 2em 3em;
}

header{
  margin-bottom: 3em;
}

#about{
  .column:nth-child(2){
    color: #8b8b8b;
    font-size: 0.9em;
    li{
      margin-bottom: 1rem;
    }
  }
  margin-bottom: 3em;
}

#statistics{
  .column:first-child{
    background: $blue;
    color: white;
  }
  .column{
    background: #dcdcdc;
  }
}
