@import "theme";

#wrapper{
  padding: 4em 2em 3em;
}

header{
  margin-bottom: 2em;
}

#about{
  .column:nth-child(2){
    color: #8b8b8b;
    font-size: 0.9em;
    li{
      margin-bottom: 1rem;
    }
  }
}
