@import "theme";
@import "graphs";

#wrapper{
  padding: 4em 2em 3em;
}

header{
  margin-bottom: 3em;
}

#about{
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 3em;

  .methodology{
    color: #8b8b8b;
    font-size: 0.9em;
    li{
      margin-bottom: 1rem;
    }
  }
}

#statistics{
  margin-bottom: 3em;

  & > .column:first-child{
    background: $blue;
    color: white;
  }

  & > .column{
    background: $gray;

    & > .heading{
      margin-bottom: 1rem;
    }
  }

  .column:nth-child(3){

    li{
      font-size: 0.9rem;
      line-height: 1.1rem;

      .heading{
        color: $blue;
        margin-top: 5px;
      }
    }
  }
}

#map{
  margin-bottom: 2em;
}

#table{
  margin: 3em 0;

  div{
    overflow-y: scroll;
    max-height: 400px;
    margin-top: 1em;
  }

  th{
    position: sticky;
    top: -2px;
    background-color: $gray;
  }
}
